<h2>video-dashboard</h2>

<app-video-list
  [videoList]="videos | async"
  (videoSelected)="selectVideo($event)"
></app-video-list>

<app-video-player [video]="currentVideo"></app-video-player>

<app-stat-filters></app-stat-filters>
